#index {
    height: 100%;
    width: 100%;
    /* Hide horizontal scrollbar */
    overflow-x: hidden;
    margin: 0;
    padding: 0;
    /* Hide vertical scrollbar */
    overflow-y: hidden;
    background: #e5e5e5;
}




#selection-deem {
    box-shadow: 0 1rem 2rem hsl(0 0% 0% / 20%);
    background: hsl(0 0% 100%);
    color: hsl(200 50% 20%);
    line-height: 1.5;
    font-size: 20px;
    font-weight: 300;
    width: 30%;
    height: 60%;
    place-items: center;
    text-align: center;
    padding: 3ch;
    border-radius: 2ch;
    border: 1px solid hsl(0 0% 83%);
    margin-left: 50%;
    margin-top: 10%;

}



#deem-menu{
    font-size: medium;
}

#add-update-timeframe {

    box-shadow: 0 1rem 2rem hsl(0 0% 0% / 20%);
    background: hsl(0 0% 100%);
    color: hsl(200 50% 20%);
    line-height: 1.5;
    font-size: 20px;
    font-weight: 300;
    width: 30%;
    height: 100%;
    /* display: flex; */
    /* display: inline-block;
    vertical-align: middle; */
    place-items: center;
    text-align: center;
    padding: 3ch;
    border-radius: 2ch;
    border: 1px solid hsl(0 0% 83%);
    /* margin-top: 50% ; */
    margin-left: 30%;
    /* margin-bottom: 50%;  */

}

#show-past-dates {
    box-shadow: 0 1rem 2rem hsl(0 0% 0% / 20%);
    background: hsl(0 0% 100%);
    color: hsl(200 50% 20%);
    line-height: 1.5;
    font-size: 20px;
    font-weight: 300;
    width: 30%;
    height: 100%;
    /* display: flex; */
    /* display: inline-block;
    vertical-align: middle; */
    place-items: center;
    text-align: center;
    padding: 3ch;
    border-radius: 2ch;
    border: 1px solid hsl(0 0% 83%);
}


#parent-deem {
    display: flex;
    text-align: center;
}

/* .button-next-Deem {
    background-image: linear-gradient(-180deg, #37AEE2 0%, #1E96C8 100%);
    border-radius: .5rem;
    box-sizing: border-box;
    color: #FFFFFF;
    display: flex;
    font-size: 15px;
    justify-content: center;
    padding: 0.7rem 0rem;
    text-decoration: none;
    width: 25%;
    height: 10%;
    border: 0;
    cursor: pointer;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    margin-top: 1%;
    margin-left: 40%;
    

}

.button-next-Deem:hover {
    background-image: linear-gradient(-180deg, #1D95C9 0%, #17759C 100%);
}

#add {
    background-image: linear-gradient(-180deg, #37AEE2 0%, #1E96C8 100%);
    border-radius: .5rem;
    box-sizing: border-box;
    color: #FFFFFF;
    display: flex;
    font-size: 15px;
    justify-content: center;

    text-decoration: none;
    width: 20%;
    height: 25%;
    border: 0;
    cursor: pointer;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    margin-top: -1%;
    margin-left: 40%;
    margin-bottom: -60%;
}

#add:hover {
    background-image: linear-gradient(-180deg, #1D95C9 0%, #17759C 100%);
}

#update {
    background-image: linear-gradient(-180deg, #37AEE2 0%, #1E96C8 100%);
    border-radius: .5rem;
    box-sizing: border-box;
    color: #FFFFFF;
    display: flex;
    font-size: 15px;
    justify-content: center;

    text-decoration: none;
    width: 20%;
    height: 25%;
    border: 0;
    cursor: pointer;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    margin-top: -1%;
    margin-left: 40%;
    margin-bottom: 1%;
}

#update:hover {
    background-image: linear-gradient(-180deg, #1D95C9 0%, #17759C 100%);
}

#ok {
    background-image: linear-gradient(-180deg, #37AEE2 0%, #1E96C8 100%);
    border-radius: .5rem;
    box-sizing: border-box;
    color: #FFFFFF;
    display: flex;
    font-size: 15px;
    justify-content: center;
    text-decoration: none;
    width: 20%;
    height: 24%;
    border: 0;
    cursor: pointer;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    margin-top: -1%;
    margin-left: 40%;
    margin-bottom: 10%;
}

#ok:hover {

    background-image: linear-gradient(-180deg, #1D95C9 0%, #17759C 100%);

} */


.button{
    background-image: linear-gradient( #0084BD 0%, #0084BD 100%);
    text-align: center;
    justify-content: center;
  }
  
  
  .button:hover {
    background-image: linear-gradient( #037caf 0%, #037caf 100%);
  
  }

 

select {
    margin: 0;
    padding: 0;
    position: relative;
    box-sizing: border-box;
    position: relative;
    border-radius: 4px;
    max-width: 100%;
    padding: 8px 24px 8px 10px;
    border: none;
    background-color: rgb(243, 243, 243);
    box-shadow: 1px 2px #e3e3eb;
   
}


select:active,
select:focus,
select:hover {
    outline: none;
    box-shadow: #0084BD 0 0 0 3px, transparent 0 0 0 0;

}

select:after {
    content: "";
    position: absolute;
    top: 50%;
    right: 8px;
    width: 0;
    height: 0;
    margin-top: -2px;
    border-top: 5px solid #aaa;
    border-right: 5px solid transparent;
    border-left: 5px solid transparent;
}


[type="date"] {
    background: #fff url(https://cdn1.iconfinder.com/data/icons/cc_mono_icon_set/blacks/16x16/calendar_2.png) 97% 50% no-repeat;
    position: relative;
    font-size: medium;
    background-color: rgb(243, 243, 243);
    border: none;
    box-shadow: 1px 1px #e3e3eb;
  
}

[type="date"]:active,
[type="date"]:focus,
[type="date"]:hover {
    outline: none;
    box-shadow: #0084BD 0 0 0 3px, transparent 0 0 0 0;

}


[type="date"]::-webkit-inner-spin-button {
    display: none;

}

/* [type="date"]::-webkit-calendar-picker-indicator {
    opacity: 0;
  } */
input[type="date"]::-webkit-calendar-picker-indicator {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: auto;
    height: auto;
    color: transparent;
    background: transparent;
}


/* custom styles */
body {
    padding: 3;
    background: #e5e5e5;
    font: 13px/1.4 Geneva, "Lucida Sans", "Lucida Grande", "Lucida Sans Unicode", Verdana, sans-serif;
}

label {
    display: block;
    font-size: 90%;
    font-weight: bold;
}

input {
    border: 1px solid #c4c4c4;
    border-radius: 5px;
    background-color: #fff;
    box-shadow: inset 0 3px 6px rgba(0, 0, 0, 0.1);
    width: 190px;
}


@media (max-width: 450px) {
    #selection-deem{
        width: 30%;
    height: 60%;
    }

    #add-update-timeframe {

        line-height: 1.5;
        font-size: 20px;
        font-weight: 300;
        width: 30%;
        height: 100%;
      
        margin-top: 70% ;
        /* margin-left: 30%; */
        /* margin-bottom: 50%;  */
    
    }
    
    #show-past-dates {
        box-shadow: 0 1rem 2rem hsl(0 0% 0% / 20%);
        background: hsl(0 0% 100%);
        color: hsl(200 50% 20%);
        line-height: 1.5;
        font-size: 20px;
        font-weight: 300;
        width: 30%;
        height: 100%;
        /* display: flex; */
        /* display: inline-block;
        vertical-align: middle; */
        place-items: center;
        text-align: center;
        padding: 3ch;
        border-radius: 2ch;
        border: 1px solid hsl(0 0% 83%);
    }
    
    
    }

