html.eClinic,
body.Site {
    height: 100%;
    width: 100%;
    /* Hide horizontal scrollbar */
    /* overflow-x: hidden; */
    margin: 0;
    padding: 0;
    /* Hide vertical scrollbar */
    /* overflow-y: hidden; */
}
th {
    border-style: hidden !important;
}

body {
    padding: 3;
    background: #e5e5e5;
    overflow-x: hidden;
}

.box1_Albandri {
    box-shadow: 0 1rem 2rem hsl(0 0% 0% / 20%);
    background: hsl(0 0% 100%);
    color: hsl(200 50% 20%);
    line-height: 1.5;
    font-size: 20px;
    font-weight: 300;
    width: 50%;
    height: 60%;
    place-items: center;
    text-align: center;
    padding: 24ch;
    border-radius: 2ch;
    border: 1px solid rgb(15, 15, 15);
    margin-left: 27%;
    margin-top: 4%;
}
.mytitle {
    color: #0084bd;

}



#mytable {
    border-collapse: collapse;
    text-align:center;
    
    
}

#mytable td,
#mytable th {
    border: 1px solid #ddd;
    /* padding: 2px 90px; */
}

#mytable tr:nth-child(even) {
    background-color: #f2f2f2;
}

#mytable tr:hover {
    background-color: #ddd;
}

#mytable th {
    /* padding-top: 12px;
    padding-bottom: 12px; */
    text-align:center;
    background-color: #0084bd;
    color: white;
}


.logbut{
    background-image: linear-gradient( #0084BD 0%, #0084BD 100%);
    
  
  }
  
  
  .logbut:hover {
    background-image: linear-gradient( #037caf 0%, #037caf 100%);
  
  }

  

